---
layout: base
meta-description: ""
meta-keywords: |
  browser research, chrome, firefox, internet explorer, opera, safari
title: Browser Research

# something
browser-vendors:
  - vendor: Apple
    name: Safari
    browser-icons:
      16x16: "/img/browser-logos/safari/safari_16x16.png"
    flags-settings: ""
    prefix: -webkit
    links:
      - link:  "http://en.wikipedia.org/wiki/Safari_(web_browser)"
        label: WikiPedia
      - link:  "http://nightly.webkit.org/"
        label: Nightly
    downloads:
      platforms:
        - platform: Mac OS X
          link: "http://support.apple.com/downloads/#safari"
        - platform: Windows
          link: "http://support.apple.com/kb/dl1531"
  - vendor: Google
    name: Chrome
    browser-icons:
      16x16: "/img/browser-logos/chrome/chrome_16x16.png"
    flags-settings: "chrome://flags"
    prefix: -webkit
    links:
      - link:  "http://en.wikipedia.org/wiki/Google_Chrome"
        label: WikiPedia
      - link:  "http://www.chromium.org/developers/calendar"
        label: Release Calendar
      - link:  "http://blog.chromium.org/"
        label: Blog
    downloads:
      platforms:
        - platform: Linux
          link: "https://www.google.com/intl/en/chrome/browser/?platform=linux&hl=en"
        - platform: Mac OS X
          link: "https://www.google.com/intl/en/chrome/browser/?platform=mac&hl=en"
        - platform: Windows
          link: "https://www.google.com/intl/en/chrome/browser/index.html#eula"
  - vendor: Microsoft
    name: Internet Explorer
    browser-icons:
      16x16: "/img/browser-logos/ie9-10/ie9-10_16x16.png"
    flags-settings: ""
    prefix: -ms
    links:
      - link:  "http://en.wikipedia.org/wiki/Internet_Explorer"
        label: WikiPedia
      - link:  "http://en.wikipedia.org/wiki/Internet_Explorer_Mobile"
        label: WikiPedia for Mobile Version
      - link:  "http://blogs.msdn.com/b/ie/archive/2010/03/23/introducing-ie9-s-user-agent-string.aspx"
        label: User Agent Info
      - link:  "http://blogs.msdn.com/b/ie/archive/2009/01/09/the-internet-explorer-8-user-agent-string-updated-edition.aspx"
        label: User Agent Info more
      - link:  "http://msdn.microsoft.com/en-us/library/ms537509.aspx"
        label: Detecting Windows Internet Explorer More Effectively
    downloads:
      platforms:
        - platform: Windows
          link: "http://windows.microsoft.com/en-US/internet-explorer/download-ie"
  - vendor: Mozilla
    name: Firefox
    browser-icons:
      16x16: "/img/browser-logos/firefox/firefox_16x16.png"
    flags-settings: "about:config"
    prefix: -moz
    links:
      - link:  "http://en.wikipedia.org/wiki/Firefox"
        label: Wikipedia
      - link:  "https://wiki.mozilla.org/Releases"
        label: Releases
    downloads:
      platforms:
        - platform: Linux
          link: "https://download.mozilla.org/?product=firefox-22.0&os=linux&lang=en-US"
        - platform: Mac OS X
          link: "https://download.mozilla.org/?product=firefox-22.0&os=osx&lang=en-US"
        - platform: Windows
          link: "https://download.mozilla.org/?product=firefox-22.0&os=win&lang=en-US"
  - vendor: Opera
    name: Opera
    browser-icons:
      16x16: "/img/browser-logos/opera/opera_16x16.png"
    flags-settings: ""
    prefix: -o
    links:
      - link:  "http://en.wikipedia.org/wiki/Opera_(web_browser)"
        label: Wikipedia
      - link:  "http://en.wikipedia.org/wiki/Opera_Mobile"
        label: Wikipedia for Mobile version
      - link:  "http://www.opera.com/developer/next"
        label: Next
    downloads:
      platforms:
        - platform: Linux
          link: "http://www.opera.com/download/get/?partner=www&opsys=Linux"
        - platform: Mac OS X
          link: "http://www.opera.com/download/get/?partner=www&opsys=MacOS"
        - platform: Windows
          link: "http://www.opera.com/download/get/?partner=www&opsys=Windows"

rendering-engines:
  - browser: Chrome
    link: "http://en.wikipedia.org/wiki/Blink_(layout_engine)"
    name: WebKit/Blink
  - browser: Firefox
    link: "http://en.wikipedia.org/wiki/Gecko_(layout_engine)"
    name: Gecko
  - browser: Internet Explorer
    link: "http://en.wikipedia.org/wiki/Microsoft_Trident"
    name: Trident
  - browser: Opera
    link: "http://en.wikipedia.org/wiki/Presto_(layout_engine)"
    name: Presto/Blink
  - browser: Safari
    link: "http://en.wikipedia.org/wiki/WebKit"
    name: WebKit

javascript-engines:
  - browser: Chrome
    link: "http://en.wikipedia.org/wiki/V8_JavaScript_engine"
    alt-link: "http://en.wikipedia.org/wiki/Dart_(programming_language)"
    name: V8
  - browser: Firefox
    link: "http://en.wikipedia.org/wiki/SpiderMonkey_(JavaScript_engine)"
    alt-link: "http://en.wikipedia.org/wiki/Rhino_(JavaScript_engine)"
    name: SpiderMonkey & Rhino
  - browser: Internet Explorer
    link: "http://en.wikipedia.org/wiki/Chakra_(JScript_engine)"
    alt-link: 
    name: Chakra
  - browser: Opera
    link: "http://en.wikipedia.org/wiki/Presto_(layout_engine)#ECMAScript_engines"
    alt-link: 
    name: Carakan
  - browser: Safari
    link: "http://en.wikipedia.org/wiki/WebKit#JavaScriptCore"
    alt-link: 
    name: JavaScriptCore (Nitro)

current-versions:
  - browser: ChromeFrame
    platforms:
      - platform: Windows
        version: 29.0.1541.0
        type: Development
      - platform: Windows
        version: 28.0.1500.52
        type: Beta
      - platform: Windows
        version: 27.0.1453.116
        type: Stable
    release-notes-link: 
  - browser: Chrome
    platforms:
      - platform: Linux
        version: 29.0.1541.2
        type: Development
      - platform: Linux
        version: 28.0.1500.52
        type: Beta
      - platform: Linux
        version: 28.0.1500.52
        type: Stable
      - platform: Mac OS X
        version: 30.0.1576.0
        type: Canary
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1576.0 Safari/537.36"
      - platform: Mac OS X
        version: 30.0.1573.2
        type: Development
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1573.2 Safari/537.36"
      - platform: Mac OS X
        version: 28.0.1500.52
        type: Beta
      - platform: Mac OS X
        version: 27.0.1453.116
        type: Stable
      - platform: Mac OS X
        version: 28.0.1485.0 (195393)
        type: Chromium/Dart
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1485.0 (Dart) Safari/537.36"
      - platform: Windows
        version: 29.0.1547.2
        type: Canary
      - platform: Windows
        version: 29.0.1541.0
        type: Development
      - platform: Windows
        version: 28.0.1500.52
        type: Beta
      - platform: Windows
        version: 27.0.1453.116
        type: Stable
      - platform: ChromeOS
        version: 29.0.1541.3
        type: Development
      - platform: ChromeOS
        version: 28.0.1500.53
        type: Beta
      - platform: ChromeOS
        version: 27.0.1453.116
        type: Stable
      - platform: iOS 7 beta 3 (iPad mini)
        version: 28.0.1500.12
        type: Stable
        useragent: "Mozilla/5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) CriOS/28.0.1500.12 Mobile/11A4414e Safari/8536.25 (2E7F0504-5DC7-4478-8C48-FA67973C9FB9)"
      - platform: iOS 7 beta 3 (iPhone 5)
        version: 28.0.1500.12
        type: Stable
        useragent: "Mozilla/5.0 (iPhone; CPU iPhone OS 7_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) CriOS/28.0.1500.12 Mobile/11A4414e Safari/8536.25 (CE60DBD2-5A88-4FAF-B171-7139F031AA84)"
      - platform: Android
        version: 28.0.1500.37
        type: Beta
      - platform: Android
        version: 28.0.1500.94
        type: Stable
        useragent: "Mozilla/5.0 (Linux; Android 4.1.1; GT-P3113 Build/JRO03C) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1500.94 Safari/537.36"
    release-notes-link: 
  - browser: Firefox
    platforms:
      - platform: Firefox OS
        version: 22
        type: Release
        useragent: ""
      - platform: Linux
        version: 22
        type: Release
        useragent: ""
      - platform: Mac OS X
        version: 22
        type: Release
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:22.0) Gecko/20100101 Firefox/22.0"
      - platform: Mac OS X
        version: 23
        type: Beta
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:23.0) Gecko/20100101 Firefox/23.0"
      - platform: Mac OS X
        version: 24.0a2 (2013-07-26)
        type: Aurora
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:24.0) Gecko/20130726 Firefox/24.0"
      - platform: Mac OS X
        version: 25.0a1 (2013-06-26)
        type: Nightly
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:25.0) Gecko/20130726 Firefox/25.0"
      - platform: Windows
        version: 22
        type: Release
        useragent: "Mozilla/5.0 (Windows NT 6.1; WOW64; rv:22.0) Gecko/20100101 Firefox/22.0"
      - platform: Android
        version: 22
        type: Release
        useragent: "Mozilla/5.0 (Android; Tablet; rv:22.0) Gecko/22.0 Firefox/22.0"
    release-notes-link: "http://www.mozilla.org/en-US/mobile/22.0/releasenotes/"
  - browser: Internet Explorer
    platforms:
      - platform: Windows XP
        version: 7.0.5730.13
        type: Release
      - platform: Windows XP
        version: 8.0.6001.18702
        type: Release
      - platform: Windows 7
        version: 9.0.8112.16421
        type: Release
        useragent: "Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW64; Trident/5.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; InfoPath.3; .NET4.0E)"
      - platform: Windows 7
        version: 10
        type: Release
      - platform: Windows 8
        version: 10
        type: Release
      - platform: Windows 8.1
        version: 11
        type: Preview
    release-notes-link: 
  - browser: Opera
    platforms:
      - platform: Mac OS X
        version: 12.16.1860
        type: Release
        useragent: "Opera/9.80 (Macintosh; Intel Mac OS X 10.8.4) Presto/2.12.388 Version/12.16"
      - platform: Windows
        version: 12.16.1860
        type: Release
        useragent: "Opera/9.80 (Windows NT 6.1; WOW64) Presto/2.12.388 Version/12.16"
      - platform: Android
        version: 15.0.1162.60140
        type: Release
        useragent: "Mozilla/5.0 (Linux; Android 4.1.1; GT-P3113 Build/JRO03C) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1500.63 Safari/537.36 OPR/15.0.1162.60140"
    release-notes-link: 
  - browser: Safari
    platforms:
      - platform: Mac OS X
        version: 6.0.5 (8536.30.1)
        type: Release
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/536.30.1 (KHTML, like Gecko) Version/6.0.5 Safari/536.30.1"
      - platform: Mac OS X
        version: 6.0.5 (8536.30.1, 538+)
        type: Nightly
        useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_4) AppleWebKit/538.1+ (KHTML, like Gecko) Version/6.0.5 Safari/536.30.1"
      - platform: Windows
        version: 5.1.7 (7534.57.2)
        type: Release
        useragent: "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/534.57.2 (KHTML, like Gecko) Version/5.1.7 Safari/534.57.2"
      - platform: iOS 7 beta 3 (iPad mini)
        version: 6.0
        type: Beta
        useragent: "Mozilla/5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit/537.46 (KHTML, like Gecko) Version/6.0 Mobile/11A4414e Safari/8536.25"
      - platform: iOS 7 beta 3 (iPhone 5)
        version: 6.0
        type: Beta
        useragent: "Mozilla/5.0 (iPhone; CPU iPhone OS 7_0 like Mac OS X) AppleWebKit/537.46 (KHTML, like Gecko) Version/6.0 Mobile/11A4414e Safari/8536.25"
    release-notes-link: 

miscs:
  type:

resources:
  - type: Standards
    links:
      - link: "http://en.wikipedia.org/wiki/World_Wide_Web_Consortium"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Web_Hypertext_Application_Technology_Working_Group"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Document_Object_Model"
        misc: 
  - type: Browsers
    links:
      - link: "http://en.wikipedia.org/wiki/List_of_web_browsers"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Comparison_of_web_browsers"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Web_browser_history"
        misc: 
      - link: "http://www.nczonline.net/blog/2010/01/12/history-of-the-user-agent-string/"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Comparison_of_layout_engines_(HTML5)"
        misc: 
      - link: "http://en.wikipedia.org/wiki/SunSpider_JavaScript_Benchmark#SunSpider"
        misc: 
      - link: "http://caniuse.com/"
        misc: 
      - link: "http://html5please.com/"
        misc: 
      - link: "http://css3please.com/"
        misc: 
  - type: Protocols
    links:
      - link: "http://en.wikipedia.org/wiki/HTTP"
        misc: 
      - link: "http://en.wikipedia.org/wiki/HTTPS"
        misc: 
      - link: "http://en.wikipedia.org/wiki/SPDY"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Transport_Layer_Security"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Quirks_mode"
        misc: 
  - type: ECMAScript
    links:
      - link: "http://en.wikipedia.org/wiki/ECMAscript"
        misc: 
      - link: "http://en.wikipedia.org/wiki/JavaScript"
        misc: 
      - link: "http://en.wikipedia.org/wiki/JScript"
        misc: 
      - link: "http://en.wikipedia.org/wiki/ActionScript"
        misc: 
      - link: "http://en.wikipedia.org/wiki/Acid3"
        misc: 
      - link: "http://acid3.acidtests.org/"
        misc: 

small-market-browsers:
  - label: Maxthon Cloud Browser
    link:  "http://www.maxthon.com/"
    desc:  "Available for: iPad, iPhone, Mac, Windows"
  - label: Pale Moon
    link:  "http://www.palemoon.org/"
    desc:  "Available for: firefox based, windows only"
  - label: SlimBrowser
    link:  "http://www.slimbrowser.net/en/"
    desc:  "Available for: Windows"
  - label: TorchBrowser
    link:  "http://torchbrowser.com/"
    desc:  "Available Chromium based, Mac & Windows"
  - label: Lunascape
    link:  "http://www.lunascape.tv/"
    desc:  "Available for: Android, iPad, iPhone, Mac (Coming soon), Windows"
---
<style>
  table { font-size: .8em; }
</style>

<h1>Browser Research</h1>

<h2>Browsers</h2>
<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Name</th>
      <th>Flags/Settings</th>
      <th>Prefix</th>
      <th>Links</th>
      <th>Downloads</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for browser in page.browser-vendors %}
      <tr>
        <td>{{ browser.vendor }}</td>
        <td>{{ browser.name }} <img alt="Browser Icon" src="{{ browser.browser-icons.16x16 }}" title="Browser Icon" /></td>
        <td><a href="{{ browser.flags-settings }}" target="_blank">{{ browser.flags-settings }}</a></td>
        <td>{{ browser.prefix }}</td>
        <td>
          <ul>
            {% for link in browser.links %}
              <li><span>{{ link.label }}: </span><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for platform in browser.downloads.platforms %}
              <li><span>{{ platform.platform }}: </span><a href="{{ platform.link }}" target="_blank">{{ platform.link }}</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Browser Rendering Engines: </h2>
<table>
  <thead>
    <tr>
      <th>Browser</th>
      <th>Name</th>
      <th>Link</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for engine in page.rendering-engines %}
      <tr>
        <td>{{ engine.browser }}</td>
        <td>{{ engine.name }}</td>
        <td><a href="{{ engine.link }}" target="_blank">{{ engine.link }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h2><a href="http://en.wikipedia.org/wiki/JavaScript_engine" target="_blank">Browser Javascript Engines</a></h2>
<table>
  <thead>
    <tr>
      <th>Browser</th>
      <th>Name</th>
      <th>Link</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for engine in page.javascript-engines %}
      <tr>
        <td>{{ engine.browser }}</td>
        <td>{{ engine.name }}</td>
        <td>
          <ul>
            <li><a href="{{ engine.link }}" target="_blank">{{ engine.link }}</a></li>
            <li><a href="{{ engine.link }}" target="_blank">{{ engine.alt-link }}</a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Browser Debugger Tools</h2>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for debugger_tool in page.debugger-tools %}
      <tr>
        <td>{{ debugger_tool }}</td>
      </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

<h2>Browser Mobile Versions:</h2>
<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for mobile_version in page.mobile-versions %}
      <tr>
        <td>{{ mobile_version }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Current Browsers Versions</h2>
<table>
  <thead>
    <tr>
      <th>Browser</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for current_version in page.current-versions %}
      <tr>
        <td>{{ current_version.browser }}</td>
        <td>
          <ul>
            {% for platform in current_version.platforms %}
              <li class="cv-platform-desc"><strong>{{ platform.platform }}: {{ platform.version }} ({{ platform.type }})</strong></li>
              <li class="cv-platform-ua"><em>{{ platform.useragent }}</em></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

<h2>Resources</h2>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Links</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for resource in page.resources %}
      <tr>
        <td>{{ resource.type }}</td>
        <td>
          <ul>
            {% for link in resource.links %}
              <li><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></li>
              <li>{{ link.misc }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Small Market Browsers</h2>
<table>
  <thead>
    <tr>
      <th>Browser</th>
      <th>Link</th>
      <th>Description</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
    {% for browser in page.small-market-browsers %}
      <tr>
        <td>{{ browser.label }}</td>
        <td><a href="{{ browser.link }}" target="_blank">{{ browser.link }}</a></td>
        <td>{{ browser.desc }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Misc</h2>
<div>
  <pre>
Interesting Hacks and things:
Firefox:
Pretend to be a Win32 Machine:
  about:config
  Preference Name: general.platform.override
  Status: user set
  Type string
  Value Win32
  </pre>
</div>

<h2>Browser Tests</h2>
<pre>
Maze: https://ie.microsoft.com/testdrive/Performance/MazeSolver/
Maze of 30x30

Mac OS X 10.8:
  Chrome 28.0.1500.71: 5.9 secs
  FireFox 22: 34 secs
  Opera 12.16: 61 secs
  Safari 6.0.5: 13 secs

iPad Mini iOS 7 beta 3:
  Chrome: 25 secs
  Opera mini: secs
  Safari: 26 secs

iPhone 5 iOS 7 beta 3:
  Chrome: secs
  Opera: mini: secs
  Safari: secs

Win 7
  Chrome 28.0.1500.72m: 7.2 secs
  FireFox 22: 25 secs
  Internet Explorer 9: 20 secs
  Opera 12.15: 24 secs
  Safari 5.1.7: 6.7 secs
</pre>
