---
layout: base
meta-description: "Matt Wepplers' blog & portfolio"
meta-keywords: |
  Backend Development, CSS, CSS3, Frontend Development, HTML, HTM5, JavaScript, PHP, Ruby, Ruby on Rails, Web Development, XML
social-links:
  - href: "https://github.com/mweppler"
    link: GitHub
  - href: "https://www.linkedin.com/in/mweppler"
    link: LinkedIn
  - href: "http://www.slideshare.net/mweppler"
    link: Slideshare
  - href: "http://teamtreehouse.com/mweppler"
    link: Team TreeHouse
  - href: "https://twitter.com/mattweppler"
    link: Twitter
title: Blog
---
<div class="eleven columns alpha content">
  <h1>Hello, world!</h1>
  <p>I am a developer, and so can you!</p>
  <br />

  <div class="clearfix pager">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="pager-nav previous">Previous</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}" class="pager-nav previous">Previous</a>
      {% endif %}
    {% else %}
      <span class="pager-nav previous">Previous</span>
    {% endif %}
    <span class="page_number ">page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next pager-nav">Next</a>
    {% else %}
      <span class="next pager-nav">Next</span>
    {% endif %}
  </div>
  <hr />

  {% for post in paginator.posts %}
    <article class="post type-post format-standard clearfix">
      <div class="three columns alpha meta">
        <ul>
          <li class="clearfix type"><a href="{{ post.url }}"><i class="icon-file"></i></a></li>
          <li><strong>Posted:</strong> {{ post.date | date: "%B %d, %Y" }}</li>
          <!-- <li><strong>Type:</strong> <a href="#">{{ post.myvar }}</a></li> -->
          <!-- <li><strong>Comments:</strong> <a href="#">5</a></li> -->
        </ul>
      </div>

      <div class="eight columns omega text">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.preview | truncatewords: 35 }}</p>
      </div>
    </article>
  {% endfor %}

  <br />
  <div class="clearfix pager">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="pager-nav previous">Previous</a>
      {% else %}
        <a href="/page{{ paginator.previous_page }}" class="pager-nav previous">Previous</a>
      {% endif %}
    {% else %}
      <span class="pager-nav previous">Previous</span>
    {% endif %}
    <span class="page_number ">page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next pager-nav">Next</a>
    {% else %}
      <span class="next pager-nav">Next</span>
    {% endif %}
  </div>
</div><!--/span-->

<aside class="five columns omega sidebar">
  <div class="widget categories">
    <h3>Social</h3>
    <ul>
      {% for nav_item in page.social-links %}
        <li><a href="{{ nav_item.href }}" target="_blank">{{ nav_item.link }}</a></li>
      {% endfor %}
      <!-- <li><a href="http://www.ibm.com/developerworks/mydeveloperworks/profiles/user/mweppler">developerWorks</a></li> -->
      <!-- <li><a href="http://sourceforge.net/users/mweppler">SourceForge</a></li> -->
      <!-- <li><a href="http://stackoverflow.com/users/436167/mweppler">StackOverflow</a></li> -->
    </ul>
    <small>...more social links down below</small>
  </div><!--/.well -->

  <!--NVIDIA-->
  <div class="call-to-action">
    <a href="https://nvidia.wd5.myworkdayjobs.com/NVIDIAExternalCareerSite/job/US-CA-Santa-Clara/UI-Developer-for-Cloud-Computing_JR1913569" target="_blank">
      <img style="max-width: 245px;" src="img/for-posts/job-add-weppler-blog.png"/>
    </a>
  </div>

  <!-- Begin MailChimp Signup Form -->
  <div class="call-to-action">
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup { clear: left; font: 14px Helvetica, Arial, sans-serif; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      #mce-EMAIL { background-color: #fff; margin-top: 10px; width: 90%; }
      #mc-embedded-subscribe { margin-top: 10px; }
    </style>
    <div id="mc_embed_signup">
    <form action="http://mattweppler.us2.list-manage.com/subscribe/post?u=e71d3c3ed2fd2e444fa8717f3&amp;id=c36903af81" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">Stay updated!</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button branded" />
    </form>
    </div>
  </div>

</aside><!--/span-->
