<meta name="twitter:card" content="summary">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.meta-description %}{{ page.meta-description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="{{ page.social-media.twitter.publisher }}" />
<meta name="twitter:creator" content="{{ page.social-media.twitter.author }}">
